private CodegenUtil.FilterCriteria _filterCriteria_;
        public void setFilterCriteria(CodegenUtil.FilterCriteria _filterCriteria_) {
            this._filterCriteria_ = _filterCriteria_;
        }
        public CodegenUtil.FilterCriteria getFilterCriteria() {
            return _filterCriteria_;
        }
