if (parameters.get{{#paskalizeCase}}{{paramName}}{{/paskalizeCase}}() == null || parameters.get{{#paskalizeCase}}{{paramName}}{{/paskalizeCase}}().isEmpty())
{
	parameters.set{{#paskalizeCase}}{{paramName}}{{/paskalizeCase}}(ServiceRequestContext.getContext().getLocale().toString());
}