private CodegenUtil.SortCriteria _sortCriteria_;
        public void setSortCriteria(CodegenUtil.SortCriteria _sortCriteria_) {
            this._sortCriteria_ = _sortCriteria_;
        }
        public CodegenUtil.SortCriteria getSortCriteria() {
            return _sortCriteria_;
        }
